.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photos {
  height: 60%;
  width: 60%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid gray;
  border-radius: 8px;
  /* display: flex; */
}

.caption {
  height: 15%;
  width: 15%;
  margin-top: 1%;
  /* margin-left: 2%;
  margin-right: 2%; */
  border: 1px solid gray;
  border-radius: 8px;
}

button {
  margin-top: 1%;
}

#galleryBox {
 display: grid;
 grid: repeat(3, 30%) / auto-flow 30%;
}

#galleryBox > div {
  width: 30%;
  height: 30%;
}

